<div class="card" style="width: 18rem;" [ngClass]="{'selected': seleccionado}">
  <img [src]="show.image" class="card-img-top">
  <div class="card-body">
    <p (click)="onDeleted()" style="float : right ;cursor : pointer">X</p>
    <h5 class="card-title">{{show.name}} <p class="card-text">({{show.year}})</p></h5>
    <p class="card-text">{{show.description}}</p>
    
    <button (click)="changeSelec()" class="btn btn-primary">{{ seleccionado ? "Deseleccionar" : "Seleccionar"}}</button>
    <button (click)="editar()" class="btn btn-primary">Editar</button>
  </div>
</div>
